@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --side-margin: 32px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #0C0D10;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
}

.button {
  --_button-color-bg: #15171C;

  display: inline-block;
  padding: 8px 24px;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: var(--_button-color-bg);
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.button--orange {
  --_button-color-bg: #F56E22;
}

.button--block {
  --_button-color-bg: rgb(255 255 255 / 0.1);

  padding: 0.889em 1.778em;
  font-size: clamp(1rem, 0.9688rem + 0.1563vi, 1.125rem);
  line-height: 1.333;
}

.button--transparent {
  --_button-color-bg: transparent;
  --_border-color: #323439;

  padding: 0.889em 1.778em;
  border: 1px solid var(--_border-color);
}

.button:hover,
.button:focus {
  text-decoration: underline;
}

.button--transparent:hover,
.button--transparent:focus {
  --_border-color: #ffffff;
}

.title {
  margin: 0;
  padding: 0;
  font-size: clamp(1.625rem, 1.5313rem + 0.4688vi, 2rem);
  line-height: 1;
  font-weight: 800;
}

.promo {
  display: flex;
  margin-bottom: 64px;
  height: min(75%, 800px);
  background-image:
    linear-gradient(0deg, rgb(12 13 16 / 0.8) 0%, rgb(12 13 16 / 0) 100%),
    linear-gradient(0deg, rgb(12 13 16 / 0) 0%, rgb(12 13 16 / 0.8) 100%),
    image-set(url("../img/promo-bg.webp") type("image/webp"),
      url("../img/promo-bg.jpg") type("image/jpeg"));
  background-repeat:
    repeat no-repeat,
    repeat no-repeat,
    no-repeat;
  background-position:
    center bottom,
    center top,
    center;
  background-size:
    auto 73.75%,
    auto 23%,
    cover;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  width: min(1600px, 100%);
  margin-inline: auto;
  padding: 28px var(--side-margin) 120px var(--side-margin);
}

.promo__main-header {
  margin-bottom: 24px;
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  text-align: center;
}

.promo__slogan {
  max-width: 900px;
  margin-bottom: 24px;
  font-size: clamp(2rem, 1.5rem + 2.5vi, 4rem);
  font-weight: 800;
  line-height: 1;
  color: #ffffff;
}

.promo__slogan span {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #F56E22;
  font: inherit;
}

.promo__description {
  max-width: 440px;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.main-header__logo {
  flex-shrink: 0;
  margin-left: 12px;
}

.main-header__site-nav {}

.main-header__user-options {}

.logo {
  width: 232px;
}

.site-nav {}

.site-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 12px 32px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 48px;
}

.site-nav__link {
  --_arrow-stroke: #000000;
  --_arrow-stroke-opacity: 0.4;

  display: flex;
  align-items: center;
  gap: 0px;
  font-weight: 500;
  text-decoration: none;
  color: var(--_arrow-stroke);
}

.site-nav__link:hover,
.site-nav__link:focus {
  --_arrow-stroke: #F56E22;
}

.user-options {
  display: flex;
  gap: 8px;
}

.user-options__lang {
  --_arrow-stroke: #ffffff;
  --_arrow-stroke-opacity: 0.4;
  --_border-opacity: 0.2;

  display: flex;
  gap: 8px;
  padding: 12px 12px 12px 24px;
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  border: 1px solid rgb(255 255 255 / var(--_border-opacity));
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
}

.user-options__lang:hover,
.user-options__lang:focus {
  --_border-opacity: 1;
  --_arrow-stroke-opacity: 1;
}

.user-options__notice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 48px;
  cursor: pointer;
}

.user-options__login {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #F56E22;
  border: 1px solid #FFFFFF;
  border-radius: 48px;
  overflow: hidden;
  cursor: pointer;
}

.servers {
  width: min(calc(1200px + var(--side-margin) * 2), 100%);
  margin-inline: auto;
  margin-bottom: 120px;
  padding: 0 var(--side-margin);
}

.servers__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.servers__title {}

.servers__link {}

.servers__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  justify-content: center;
  justify-items: center;
  gap: 24px;
}

.server {
  --_image-bg: url("");

  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 282px;
  min-height: 400px;
  padding: 12px;
  background-color: #15171C;
  background-image:
    linear-gradient(0deg, rgb(21 23 28 / 1) 40%, rgb(21 23 28 / 0) 100%),
    var(--_image-bg);
  background-repeat:
    repeat, no-repeat;
  background-size:
    auto, cover;
  background-position:
    0, center;
  border-radius: 32px;
  overflow: hidden;
}

.server:nth-child(1) {
  --_image-bg: image-set(url("../img/server-1.webp") type("image/webp"),
      url("../img/server-1.jpg") type("image/jpeg"));
}

.server:nth-child(2) {
  --_image-bg: image-set(url("../img/server-2.webp") type("image/webp"),
      url("../img/server-2.jpg") type("image/jpeg"));
}

.server:nth-child(3) {
  --_image-bg: image-set(url("../img/server-3.webp") type("image/webp"),
      url("../img/server-3.jpg") type("image/jpeg"));
}

.server:nth-child(4) {
  --_image-bg: image-set(url("../img/server-4.webp") type("image/webp"),
      url("../img/server-4.jpg") type("image/jpeg"));
}

.server__labels {
  display: flex;
  gap: 4px;
}

.server__label {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 10px 16px 10px 13px;
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  background-color: #0C0D10;
  border-radius: 28px;
}

.server__label--produceral::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("../img/pink-circle-icon.svg");
}

.server__label--nolimit::before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("../img/fire-icon.svg");
}

.server__info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 12px;
  margin-top: auto;
}

.server__represent {
  display: flex;
  gap: 8px;
  color: #ffffff;
}

.server__name {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
}

.server__count-players {
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  background-color: #333742;
  border-radius: 28px;
}

.server__ip {
  color: rgb(255 255 255 / 0.6);
}

.server__wipe-timer {
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #0C0D10;
  border-radius: 28px;
}

.server__connect {}

.information {
  width: min(calc(1200px + var(--side-margin) * 2), 100%);
  margin-inline: auto;
  margin-bottom: 120px;
  padding: 0 var(--side-margin);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "discord discord"
    "shop premium"
    "leaders leaders";
  gap: 24px;
}

.information__item {
  min-height: 500px;
  padding: 48px;
  border-radius: 32px;
  background-color: #191B1F;
  overflow: hidden;
}

.discord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  grid-area: discord;
  background-image:
    linear-gradient(78deg, rgb(21 23 28 / 1) 0%, rgb(24 23 26 / 0.97) 40%, rgb(28 23 23 / 0) 100%),
    image-set(url("../img/discord-bg.webp") type("image/webp"),
      url("../img/discord-bg.jpg") type("image/jpeg"));
  background-repeat:
    repeat, no-repeat;
  background-size:
    auto, cover;
  background-position:
    0, center;
}

.discord__players {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 24px;
  line-height: 1;
  font-weight: 600;
}

.discord__avatar {
  flex-shrink: 0;
}

.discord__slogan {
  max-width: 600px;
  margin-bottom: 32px;
  font-size: clamp(1.625rem, 1.2813rem + 1.7188vi, 3rem);
  line-height: 1;
  font-weight: 800;
}

.discord__name {
  display: inline-flex;
  align-items: baseline;
  gap: 8px;
  color: #F56E22;
}

.discord__wrap-icon {
  width: 1.042em;
  height: 0.792em;
}

.discord__wrap-icon::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("../img/discord-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.discord__button {}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  grid-area: shop;
  background-image: image-set(url("../img/shop-bg.webp") type("image/webp"),
      url("../img/shop-bg.jpg") type("image/jpeg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shop__text {
  max-width: 400px;
  font-size: clamp(1.5rem, 1.375rem + 0.625vi, 2rem);
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.shop__link {}

.premium-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  grid-area: premium;
  background-image: image-set(url("../img/premium-bg.webp") type("image/webp"),
      url("../img/premium-bg.jpg") type("image/jpeg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.premium-info__text {
  max-width: 400px;
  font-size: clamp(1.5rem, 1.375rem + 0.625vi, 2rem);
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.premium-info__link {}

.premium-info__label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 16px;
  font-weight: 700;
  text-align: center;
  background-image:
    linear-gradient(92deg, #5110A4 0%, #991DD3 100%);
}

.leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: leaders;
  gap: 24px;
  background-image:
    radial-gradient(circle, rgb(25 27 31 / 0) 0%, rgb(25 27 31 / 1) 100%),
    image-set(url("../img/leaders.webp") type("image/webp"),
      url("../img/leaders.jpg") type("image/jpeg"));
  background-repeat:
    no-repeat, no-repeat;
  background-size:
    cover, cover;
  background-position:
    center, center;
}

.leaders__boxs {
  display: flex;
  align-items: end;
  gap: 34px;
  margin-bottom: 24px;
}

.leaders__text {
  max-width: 890px;
  margin-bottom: 16px;
  font-size: clamp(1.625rem, 1.2813rem + 1.7188vi, 3rem);
  line-height: 1;
  font-weight: 800;
  text-align: center;
}

.leaders__link {}

.box {
  --_stroke-color: #333742;

  position: relative;
  width: 76px;
  z-index: 1;
}

.box:nth-child(1) {
  order: 2;
}

.box:nth-child(2) {
  order: 1;
}

.box:nth-child(3) {
  order: 3;
}

.box__frame {
  max-width: 100%;
  display: block;
}

.count {
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  aspect-ratio: 1;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--_stroke-color);
  border-radius: 50%;
}

.box--win {
  --_stroke-color: #F56E22;

  width: 94px;
  z-index: 0;
}

.box--win .box__frame {
  filter: drop-shadow(0 0 60px rgb(from var(--_stroke-color) r g b / 60%));
}

.box--win .count {
  bottom: -12px;
  width: 32px;
}

.products {
  width: min(calc(1200px + var(--side-margin) * 2), 100%);
  margin-inline: auto;
  margin-bottom: 120px;
  padding: 0 var(--side-margin);
}

.products__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.products__title {}

.products__link {}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  justify-content: center;
  justify-items: center;
  gap: 24px;
}

.product {
  --_border-color: #333742;

  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 282px;
  min-height: 400px;
  padding: 12px;
  text-decoration: none;
  background-color: #0C0D10;
  border: 1px solid var(--_border-color);
  border-radius: 32px;
  overflow: hidden;
}

.product:hover {
  --_border-color: #ffffff;
}

.product--bg {
  background-image: image-set(url("../img/product-bg.webp") type("image/webp"),
      url("../img/product-bg.jpg") type("image/jpeg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product__rest-count,
.product__availability-timer {
  padding: 12px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #1C1E25;
  border-radius: 28px;
}

.product__image {
  --_width-image: 188px;
  width: var(--_width-image);
  margin: auto;
}

.product__image--big {
  --_width-image: 234px;
}

.product__text-info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 12px;
}

.product__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.product__price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(255 255 255 / 0.6);
}

.products__button {
  display: block;
  margin-inline: auto;
  margin-top: 40px;
}

.main-footer {}

.main-footer__wrapper {
  width: min(1200px + var(--side-margin) * 2, 100%);
  margin-inline: auto;
  padding: 0 var(--side-margin);
}

.main-footer__main {
  display: flex;
  padding: 48px;
  background-color: #191B1F;
  border-radius: 32px;
}

.main-footer__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
}

.main-footer__logo {
  width: 198px;
}

.main-footer__goal {
  margin: 0;
  padding: 0;
  max-width: 290px;
  color: rgb(255 255 255 / 0.6);
}

.main-footer__user-options {}

.main-footer__navigation-topics {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 64px;
  width: 540px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.navigation-topics__topic {}

.topic__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.topic__navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topic__item+* {
  margin-top: 12px;
}

.topic__link {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(255 255 255 / 0.8);
  text-decoration: none;
}

.topic__link:hover,
.topic__link:focus {
  text-decoration: underline;
}

.main-footer__info {
  display: flex;
  gap: 8px;
  padding: 21px 0 26px 0;
}

.main-footer__copyright {
  flex-shrink: 0;
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
}

.main-footer__info-right {
  gap: 8px;
  width: 588px;
  display: flex;
  justify-content: space-between;
}

.main-footer__policy {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.main-footer__policy:hover,
.main-footer__policy:focus {
  text-decoration: underline;
}

.main-footer__developed {
  display: inline-flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

.main-footer__developed svg {
  flex-shrink: 0;
}

@media (max-width: 1280px) {
  .promo {
    height: min(75%, 600px);
  }

  .site-nav {
    display: none;
  }

  .servers {
    margin-bottom: 64px;
  }

  .information {
    margin-bottom: 64px;
  }

  .products {
    margin-bottom: 64px;
  }

  .main-footer__info-right {
    max-width: none;
  }
}

@media (min-width: 961px) {
  .shop {
    min-height: 600px;
  }

  .premium-info {
    min-height: 600px;
  }
}

@media (max-width: 960px) {
  .main-header__logo {
    margin-left: 0;
  }

  .servers__header {
    margin-bottom: 24px;
  }

  .information {
    grid-template-columns: 1fr;
    grid-template-areas:
      "discord"
      "shop"
      "premium"
      "leaders";
  }

  .products__header {
    margin-bottom: 24px;
  }

  .products__button {
    margin-top: 24px;
  }

  .main-footer__main {
    display: block;
  }

  .main-footer__column {
    margin-bottom: 24px;
  }

  .main-footer__navigation-topics {
    justify-content: space-between;
    margin-left: 0;
    width: auto;
  }

  .main-footer__info {
    flex-direction: column;
    align-items: center;
  }

  .main-footer__copyright {
    margin-right: 0;
  }

  .main-footer__info-right {
    flex-direction: column;
    width: auto;
  }
}

@media (max-width: 670px) {
  :root {
    --side-margin: 16px;
  }

  .servers {
    margin-bottom: 32px;
  }

  .servers__header {
    flex-direction: column;
    gap: 16px;
  }

  .servers__title,
  .servers__link {
    align-self: center;
  }

  .information {
    margin-bottom: 32px;
  }

  .information__item {
    min-height: 400px;
    padding: 32px;
  }

  .leaders__boxs {
    gap: 16px;
    margin-bottom: 0;
  }

  .leaders__text {
    margin-bottom: 0;
  }

  .products {
    margin-bottom: 32px;
  }

  .products__header {
    flex-direction: column;
    gap: 16px;
  }

  .products__title,
  .products__link {
    align-self: center;
  }

  .main-footer__main {
    padding: 32px;
  }

  .main-footer__column {
    align-items: center;
    width: auto;
  }

  .main-footer__navigation-topics {
    gap: 32px;
  }
}